<nav class="navbar">
  <div class="logo">EventPulse</div>

  <ul class="nav-links"> <li><a routerLink="/explore">Explore</a></li>
    <li><a routerLink="/events">Events</a></li>

    <li *ngIf="authService.isLoggedIn()">
      <a *ngIf="authService.getRole() === 'CUSTOMER'" routerLink="/customer-profile">Customer Profile</a>
      <a *ngIf="authService.getRole() === 'ADMIN'" routerLink="/admin-profile">Admin Profile</a>
    </li>

    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login">Login</a>
    </li>

    <li *ngIf="authService.isLoggedIn()">
      <button (click)="logout()" class="logout-btn">Logout</button>
    </li>
  </ul>

  <button class="mobile-menu-button" (click)="onToggleSidebar()">
    <i class="fas fa-bars"></i> </button>
</nav>
