
<aside class="sidebar">
  <ul class="sidebar-menu">
    <li><a href="#"><i class="fas fa-compass"></i> Discover</a></li>
    <li><a href="#"><i class="fas fa-fire"></i> Trending</a></li>
    <li><a href="#"><i class="fas fa-calendar-star"></i> Upcoming</a></li>
    <li><a href="#"><i class="fas fa-music"></i> Concerts</a></li>
    <li><a href="#"><i class="fas fa-theater-masks"></i> Theater</a></li>
    <li><a href="#"><i class="fas fa-running"></i> Sports</a></li>
    <li><a href="#"><i class="fas fa-microphone"></i> Conferences</a></li>
    <li><a href="#"><i class="fas fa-heart"></i> Favorites</a></li>
    <li><a href="#"><i class="fas fa-history"></i> History</a></li>
  </ul>
</aside>
